
    <p><span class = "tekstmedbaggrund">Navn: {{navn}}</span></p><br>
<p><span class = "tekstmedbaggrund">Dato: {{dato}}</span></p><br>
<p><span class="nextline">Beskrivelse: {{beskrivelse}}</span></p><br>
<p><span class = "tekstmedbaggrund">Afvikler: {{afvikler}}</span></p><br>