<div class="tab">
    <button class="tablinks" onclick="openPane(event, 'Kalender')" id="defaultOpen">Kalender</button>
    <button class="tablinks" onclick="openPane(event, 'Vagter til salg')">Vagter til salg</button>
    <button class="tablinks" onclick="openPane(event, 'Frivillige')">Frivillige</button>
    <button class="tablinks" onclick="openPane(event, 'Statistik')">Statistik</button>
    <button class="tablinks" onclick="openPane(event, 'Mine vagter')">Mine vagter</button>
</div>
<div id="begivenhedcontent"></div>
<div id="Kalender" class="tabcontent">
    <div id ="begivenhedercontent"></div>
    <button id="åbenOpretBegivenhedButton"> ny begivenhed</button>
</div>
<div id="Mine vagter" class="tabcontent">
    <div id ="mineVagterContent"></div>
</div>

<div id="Vagter til salg" class="tabcontent">
    <div id="vagtertilsalgcontent"></div>
</div>

<div id="Frivillige" class="tabcontent">
    <div id="frivilligcontent"></div>
</div>

<div id="Statistik" class="tabcontent">
</div>