<p>Navn: </p><input value="{{navn}}"><br>
<p>Dato: </p><input type="date" name="bday" id="bDate" value="{{dato}}"><br>
<p>Beskrivelse: </p><input value="{{beskrivelse}}"><br>
<p>Afvikler: </p><input value="{{afvikler}}"><br>