<p>Navn: </p><input id ="begivenhednavn" value="{{navn}}"><br>
<p>Dato: </p><input type="date" name="bday" id="begivenheddato" value="{{dato}}"><br>
<p>Beskrivelse: </p><textarea rows="10" cols="50" id="begivenhedbeskrivelse">{{beskrivelse}}</textarea><br>
<p>Antal frivillige: </p><input type="number" id="begivenhedantalfrivillige" value="{{antalfrivillige}}"><br><br>