<p>Navn: </p><input value="{{navn}}"><br>
<p>Dato: </p><input type="date" name="bday" id="bDate" value="{{dato}}"><br>
<p>Beskrivelse: </p><textarea rows="10" cols="50" id="bBeskrivelseTxt">{{beskrivelse}}</textarea><br>