<button class="tildelknap" id="{{vagtid}}">Tildel vagt</button>

<!-- The Modal -->
<div id="{{vagtid}}" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>