div {

    background : rgba(255,255,255,0.4);
}


body{

    background-color: white;

    background-repeat: no-repeat;

    background-size: 1000px 600px;
    background-repeat: no-repeat;
    background-position: 50% 120%;
    background-attachment: fixed;



}
*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: small;
}

button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: lightgoldenrodyellow;
    border: none;
}

#ClearDatabase {
    position :fixed;
    top:130px;
    left:305px;
    size: 20px;
    border-radius: 4px;
    color: snow;
    background-color: darkslateblue;

}
#åbenOpretBegivenhedButton {
    position :fixed;
    top:130px;
    left:190px;
    size: 20px;
    border-radius: 4px;
    color: snow;
    background-color: darkslateblue;
}

.img-container {
    text-align: center;
    display: block;
    background-color: lightyellow;
}
.logo {
    background-color: white;
    text-align: center;
    display: block;
}

input{
background-color: white;

}
select{
    background-color: white;
}
.tekstmedbaggrund{
    background-color: white;
}
tr{
    background-color: white;
}
.nextline{
    word-wrap: break-word;
    background-color: white;
}
