div {

    background : rgba(255,255,255,0.4);
}


body{

    background-color: white;

    background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/70350078_952500711754522_6838972400759996416_o.jpg?_nc_cat=108&_nc_ohc=owtDljz8MdEAQnBPqK1fAv033NNAEX6scWG38fe0uNpxnITbQrZKTGABQ&_nc_ht=scontent-amt2-1.xx&oh=e270fdcf3e2b75af82cbc90a6162d394&oe=5E429A5F');  background-size: cover;
    background-repeat: no-repeat;

    background-size: 1000px 600px;
    background-repeat: no-repeat;
    background-position: 50% 120%;
    background-attachment: fixed;



}
*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: small;
}

button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: lightgoldenrodyellow;
    border: none;
}

#ClearDatabase {
    position :fixed;
    bottom:2%;
    right:2%;
}

.img-container {
    text-align: center;
    display: block;
    background-color: lightyellow;
}
.logo {
    background-color: white;
    text-align: center;
    display: block;
}

input{
background-color: white;

}
select{
    background-color: white;
}
.tekstmedbaggrund{
    background-color: white;
}
tr{
    background-color: white;
}
.nextline{
    word-wrap: break-word;
    background-color: white;
}
